body{
	background-color: black;
}
span{
	font-size:100px;
	color:white;
	text-decoration: line-through;

}
.shadows{
	width: 250px;
	height: 100px;
	border-bottom : 2px solid white;
	position: absolute;
	left: 400px;
	top: 250px;
	border-radius: 5%;
	box-shadow: 10px 10px 10px 100px red;
	box-shadow: 100px 1px 13px 100px blue; 
}
span + span{
	text-shadow: 0px 7px 3px pink,
	0px 14px 3px purple;
}
span + span + span {
	text-shadow: 7px 7px 3px pink,
	14px 14px 3px purple;
}